top_nav {
    background-color: #8b24ff;
    color: white;
}

body {
    background-color:white;
}

bor {
    border-style:solid;
    border-color: black;
    border-width: 10px;
}

.caldener-grid{
    display: grid;
    grid-template-columns: auto, auto,auto ,auto,auto,auto,auto ;

}

.container-grid > div {
    text-align: center;
}